Train:
  batch_size: 256
  learning_rate: 0.0001
  reg: 0.00005
  epochs: 10
  steps: [6, 8]
  warmup: 0
  momentum: 0.9
  embed_dim: 1024
  num_classes: 1048
  train_percent: 0.6
  val_percent: 0.2
  semantic_reg: False
  cos_weight: 0.98
  image_weight: 0.01
  recipe_weight: 0.01
  workers: 8

network:
  model: im2recipe

data:
  data_path: '../data'
  image_path: '../images'
  generate_metrics: False
  save_best: True

ingredient_lstm:
  ingredient_lstm_dim: 300
  ingredient_embedding_dim: 300 # vocab size 30167 x 300 embedded
  ingredient_w2v_path: '../data/vocab.bin'

recipe_lstm:
  recipe_lstm_dim: 1024
  recipe_embedding_dim: 1024
